.jumbotron {
    background-attachment: fixed;
    background-image: url(car_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px black}
.jumbotron-fluid {
        padding-right: 0;
        padding-left: 0;
        border-radius: 0;
    }
h1{
    color:#000000;
    font-size: 250px
    }
h2{
    color:green;
}
.food{
   color:orange;
}
li{
    color:blue;
}

img{
    width: 400px;
}
body{background-image:"background_img.jpg"};